{% extends 'base.html.twig' %}
{% block body %}
    <h3>Welcome!</h3>
    <p>Hello and welcome to Open Source News! This site was created to inform 
       users about the world around us in a very fluid way. Our goal is to always 
       be improving upon the site and giving you the best news in the most
       efficient way possible. This site was created by students majoring in 
       Digital Information Design at Winthrop University. Taylor Foxx and 
       Whitney Lewis are both in the Interactive Media track of DIFD. This track 
       focuses on the design aspect of web development. Brett Pittman is in the 
       Web Application track, which focuses on the computer science side of it. 
       In conjunction with their fearless leader, Dr. Besmer, they have created 
       this news site for your enjoyment!</p>
{% endblock %}
